h1 {
    font-size: 5em;
    
}

#profile_pic {
    height: 400px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color:white;
    color: black;
}

a {
    color:brown;
    text-decoration: none;
}

.social-icon {
    height:50px
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}